.u-section-1 .u-sheet-1 {
    min-height: 177px;
}

.u-section-1 .u-text-1 {
    font-weight: 700;
    font-family: "Seaweed Script", serif;
    margin: 60px 20px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
        margin-left: 0;
        margin-right: 0;
    }
}.u-section-2 .u-sheet-1 {
     min-height: 378px;
 }

.u-section-2 .u-group-1 {
    width: 800px;
    min-height: 151px;
    margin: 95px auto -108px;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-2 .u-text-1 {
    font-weight: 700;
    font-family: "Seaweed Script", serif;
    margin: 0;
}

.u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.u-section-2 .u-line-1 {
    width: 587px;
    margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 991px) {
    .u-section-2 .u-group-1 {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-group-1 {
        width: 540px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-line-1 {
        width: 520px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-group-1 {
        width: 340px;
    }

    .u-section-2 .u-line-1 {
        width: 320px;
    }
}.u-section-3 .u-sheet-1 {
     min-height: 177px;
 }

.u-section-3 .u-text-1 {
    font-weight: 700;
    font-family: "Seaweed Script", serif;
    margin: 60px 20px 0;
}

.u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
}

.u-section-3 .u-layout-cell-1 {
    min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
    padding: 30px;
}

.u-section-3 .u-text-2 {
    font-weight: 400;
    font-family: "Seaweed Script", serif;
    margin: 0 auto;
}

.u-section-3 .u-text-3 {
    margin: 20px 15px 0 auto;
}

.u-section-3 .u-line-1 {
    width: 180px;
    height: 3px;
    margin: 20px 35px 0 auto;
}

.u-section-3 .u-text-4 {
    width: 130px;
    margin: 20px auto 0;
}

.u-section-3 .u-image-1 {
    width: 113px;
    height: 81px;
    margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
    font-weight: 400;
    font-family: "Seaweed Script", serif;
    margin: 20px auto 0 26px;
}

.u-section-3 .u-layout-cell-2 {
    min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
    padding: 30px;
}

.u-section-3 .u-text-6 {
    font-weight: 400;
    font-family: "Seaweed Script", serif;
    margin: 0 -7px 0 29px;
}

.u-section-3 .u-text-7 {
    margin: 20px 15px 0 20px;
}

.u-section-3 .u-line-2 {
    width: 180px;
    height: 3px;
    margin: 30px auto 0 10px;
}

.u-section-3 .u-text-8 {
    width: 130px;
    margin: 20px 48px 0;
}

.u-section-3 .u-image-2 {
    width: 113px;
    height: 117px;
    margin: 30px 48px 0;
}

.u-section-3 .u-layout-cell-3 {
    min-height: 400px;
}

.u-section-3 .u-container-layout-3 {
    padding: 30px;
}

.u-section-3 .u-text-9 {
    font-weight: 400;
    font-family: "Seaweed Script", serif;
    margin: 0 -7px 0 29px;
}

.u-section-3 .u-text-10 {
    margin: 20px 35px 0 20px;
}

.u-section-3 .u-line-3 {
    width: 180px;
    height: 3px;
    margin: 30px auto 0 10px;
}

.u-section-3 .u-text-11 {
    width: 130px;
    margin: 20px 48px 0;
}

.u-section-3 .u-image-3 {
    width: 113px;
    height: 113px;
    margin: 30px 48px 0;
}

.u-section-3 .u-layout-cell-4 {
    min-height: 400px;
}

.u-section-3 .u-container-layout-4 {
    padding: 30px;
}

.u-section-3 .u-text-12 {
    font-weight: 400;
    font-family: "Seaweed Script", serif;
    margin: 0 -7px 0 29px;
}

.u-section-3 .u-text-13 {
    margin: 20px 35px 0 20px;
}

.u-section-3 .u-line-4 {
    width: 180px;
    height: 3px;
    margin: 30px auto 0 10px;
}

.u-section-3 .u-text-14 {
    width: 130px;
    margin: 20px 48px 0;
}

.u-section-3 .u-image-4 {
    width: 113px;
    height: 113px;
    margin: 30px 48px 0;
}

@media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
        min-height: 107px;
    }

    .u-section-3 .u-text-1 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 330px;
    }

    .u-section-3 .u-text-3 {
        margin-right: 12px;
    }

    .u-section-3 .u-line-1 {
        width: 175px;
        margin-right: 0;
    }

    .u-section-3 .u-text-5 {
        margin-left: 20px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 330px;
    }

    .u-section-3 .u-text-6 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-3 .u-text-7 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-3 .u-line-2 {
        width: 175px;
        margin-left: 0;
    }

    .u-section-3 .u-text-8 {
        margin-left: 23px;
        margin-right: 23px;
    }

    .u-section-3 .u-image-2 {
        height: 118px;
        margin-left: 23px;
        margin-right: 40px;
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 330px;
    }

    .u-section-3 .u-text-9 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-3 .u-text-10 {
        margin-right: 5px;
        margin-left: 0;
    }

    .u-section-3 .u-line-3 {
        width: 175px;
        margin-left: 0;
    }

    .u-section-3 .u-text-11 {
        margin-left: 23px;
        margin-right: 23px;
    }

    .u-section-3 .u-image-3 {
        margin-left: 23px;
        margin-right: 40px;
    }

    .u-section-3 .u-layout-cell-4 {
        min-height: 330px;
    }

    .u-section-3 .u-text-12 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-3 .u-text-13 {
        margin-right: 5px;
        margin-left: 0;
    }

    .u-section-3 .u-line-4 {
        width: 175px;
        margin-left: 0;
    }

    .u-section-3 .u-text-14 {
        margin-left: 23px;
        margin-right: 23px;
    }

    .u-section-3 .u-image-4 {
        margin-left: 23px;
        margin-right: 40px;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 789px;
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-3 .u-text-3 {
        margin-right: 21px;
    }

    .u-section-3 .u-text-5 {
        margin-left: 34px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 100px;
    }

    .u-section-3 .u-layout-cell-4 {
        min-height: 100px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
        min-height: 2054px;
    }

    .u-section-3 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-text-3 {
        margin-right: 36px;
    }

    .u-section-3 .u-text-5 {
        margin-left: 59px;
    }

    .u-section-3 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1211px;
    }

    .u-section-3 .u-text-3 {
        margin-right: 22px;
    }

    .u-section-3 .u-text-5 {
        margin-left: 36px;
    }

    .u-section-3 .u-text-10 {
        margin-right: 0;
    }

    .u-section-3 .u-text-13 {
        margin-right: 0;
    }
}

.u-text-custom-color-3 {
    color: #685038!important;
}

#JoinContest {
    background-color: #fff;
    color: #685038!important;
    border: 4px solid #685038;
}

#JoinContest:hover {
    color: #d7a471!important;
    border: 4px solid #d39f6c;
    transition: all ease-in-out 190ms;
}

.currentEventTheme {
    font-family: 'Open Sans', sans-serif!important;
    letter-spacing: -2px;
    color: #dd9638!important;
}

.contestInfoTitle {
    font-family: "Seaweed Script", serif;
}
.userPatternsSubmit .contestBlock:hover {
    background-color: #e7e5e5 !important;
}

#registerForm .form-control:focus, #loginForm .form-control:focus {
    border-color: revert!important;
    box-shadow: none!important;
}