.u-section-1 {
  background-image: none;
  min-height: 2828px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 3.75rem;
  margin: 13px calc(((100% - 1140px) / 2) + 665px) 0 357px;
}

.u-section-1 .u-icon-1 {
  height: 81px;
  width: 81px;
  margin: -76px auto 0 calc(((100% - 1140px) / 2) + 475px);
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 3.125rem;
  margin: 22px calc(((100% - 1140px) / 2) + 937px) 0 calc(((100% - 1140px) / 2) + 126px);
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  margin: -35px calc(((100% - 1140px) / 2) + 233px) 0 calc(((100% - 1140px) / 2) + 818px);
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 320px);
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
  height: 2832px;
  margin: -177px 0 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  margin: -2518px calc(((100% - 1140px) / 2) + 213px) 0 918px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 2.25rem;
  margin: -152px calc(((100% - 1140px) / 2) + 709px) 0 calc(((100% - 1140px) / 2) + -59px);
}

.u-section-1 .u-shape-2 {
  width: 629px;
  height: 122px;
  margin: 30px auto 0 calc(((100% - 1140px) / 2) + -59px);
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 2.25rem;
  margin: 69px calc(((100% - 1140px) / 2) + 709px) 0 calc(((100% - 1140px) / 2) + -59px);
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  margin: -28px calc(((100% - 1140px) / 2) + 168px) 0 918px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  margin: 127px calc(((100% - 1140px) / 2) + 148px) 0 918px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  margin: 127px calc(((100% - 1140px) / 2) + 205px) 0 918px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  margin: 127px calc(((100% - 1140px) / 2) + 241px) 0 918px;
}

.u-section-1 .u-line-1 {
  width: 228px;
  height: 3px;
  transform-origin: left center 0;
  margin: 132px calc(((100% - 1140px) / 2) + 12px) 0 auto;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  margin: 15px calc(((100% - 1140px) / 2) + 122px) 0 calc(((100% - 1140px) / 2) + 958px);
}

.u-section-1 .u-line-2 {
  width: 228px;
  height: 3px;
  transform-origin: left center 0;
  margin: 9px calc(((100% - 1140px) / 2) + 12px) 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  width: 229px;
  margin: 188px calc(((100% - 1140px) / 2)) 0 991px;
  padding: 10px 68px 10px 67px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  margin: -889px calc(((100% - 1140px) / 2) + 402px) 0 calc(((100% - 1140px) / 2) + 248px);
}

.u-section-1 .u-image-1 {
  width: 186px;
  height: 186px;
  background-image: url("../../images/choc-creator-v2-chocolat1.jpg");
  background-position: 50% 50%;
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + -38px);
}

.u-section-1 .u-image-2 {
  width: 186px;
  height: 186px;
  background-image: url("../../images/GenacheBLOG1.jpg");
  background-position: 50% 50%;
  margin: -186px auto 0 calc(((100% - 1140px) / 2) + 203px);
}

.u-section-1 .u-image-3 {
  width: 186px;
  height: 186px;
  background-image: url("../../images/miam-factory-480x280.png");
  background-position: 50% 50%;
  margin: -186px auto 0 calc(((100% - 1140px) / 2) + 441px);
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  margin: 7px calc(((100% - 1140px) / 2) + 410px) 0 calc(((100% - 1140px) / 2) + 240px);
}

.u-section-1 .u-image-4 {
  width: 186px;
  height: 186px;
  background-image: url("../../images/choc-creator-v2-chocolat3.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0 calc(((100% - 1140px) / 2) + -38px);
}

.u-section-1 .u-image-5 {
  width: 186px;
  height: 186px;
  background-image: url("../../images/flocon-en-chocolat-imprime-en-3d-1.jpg");
  background-position: 50% 50%;
  margin: -186px auto 0 calc(((100% - 1140px) / 2) + 203px);
}

.u-section-1 .u-image-6 {
  width: 186px;
  height: 186px;
  background-image: url("../../images/La-Miam-Factory-Print-3D-Logo_Callebaut_300x300-320x240.jpg");
  background-position: 50% 50%;
  margin: -186px auto 0 calc(((100% - 1140px) / 2) + 441px);
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  margin: 3px calc(((100% - 1140px) / 2) + 422px) 0 calc(((100% - 1140px) / 2) + 228px);
}

.u-section-1 .u-image-7 {
  width: 186px;
  height: 186px;
  background-image: url("../../images/chocolate-clock-tower.jpg");
  background-position: 50% 50%;
  margin: 17px auto 0 calc(((100% - 1140px) / 2) + -38px);
}

.u-section-1 .u-image-8 {
  width: 186px;
  height: 186px;
  background-image: url("../../images/poche-tour-eiffel-fondant.jpg");
  background-position: 50% 50%;
  margin: -186px auto 0 calc(((100% - 1140px) / 2) + 203px);
}

.u-section-1 .u-image-9 {
  width: 186px;
  height: 186px;
  background-image: url("../../images/arc_triomphe_lait1-510x510.jpg");
  background-position: 50% 50%;
  margin: -185px auto 0 calc(((100% - 1140px) / 2) + 441px);
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  margin: 26px calc(((100% - 1140px) / 2) + 673px) 0 calc(((100% - 1140px) / 2) + -23px);
}

.u-section-1 .u-shape-3 {
  width: 629px;
  height: 122px;
  margin: 30px auto 0 calc(((100% - 1140px) / 2) + -59px);
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  margin: 27px calc(((100% - 1140px) / 2) + 388px) 0 calc(((100% - 1140px) / 2) + -23px);
}

.u-section-1 .u-shape-4 {
  width: 629px;
  height: 122px;
  margin: 33px auto 0 calc(((100% - 1140px) / 2) + -59px);
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  margin: 66px calc(((100% - 1140px) / 2) + 336px) 0 calc(((100% - 1140px) / 2) + 29px);
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.5rem;
  margin: 62px calc(((100% - 1140px) / 2) + 755px) 0 calc(((100% - 1140px) / 2) + 287px);
}

.u-section-1 .u-shape-5 {
  width: 119px;
  height: 120px;
  margin: 14px auto 0 calc(((100% - 1140px) / 2) + 57px);
}

.u-section-1 .u-shape-6 {
  width: 117px;
  height: 119px;
  margin: -119px auto 0 357px;
}

.u-section-1 .u-shape-7 {
  width: 117px;
  height: 119px;
  margin: -116px auto 0 calc(((100% - 1140px) / 2) + 495px);
}

.u-section-1 .u-shape-8 {
  width: 45px;
  height: 265px;
  margin: -215px auto 0 calc(((100% - 1140px) / 2) + -17px);
}

.u-section-1 .u-shape-9 {
  width: 43px;
  height: 265px;
  margin: -265px calc(((100% - 1140px) / 2) + 422px) 0 auto;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.5rem;
  margin: -215px calc(((100% - 1140px) / 2) + 931px) 0 calc(((100% - 1140px) / 2) + 71px);
}

.u-section-1 .u-text-20 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.5rem;
  margin: -28px calc(((100% - 1140px) / 2) + 515px) 0 calc(((100% - 1140px) / 2) + 487px);
}

.u-section-1 .u-text-21 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  margin: 213px calc(((100% - 1140px) / 2) + 388px) 0 calc(((100% - 1140px) / 2) + -23px);
}

.u-section-1 .u-text-22 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  margin: 44px calc(((100% - 1140px) / 2) + 1002px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  margin: -17px calc(((100% - 1140px) / 2) + 737px) 0 calc(((100% - 1140px) / 2) + 265px);
}

.u-section-1 .u-text-24 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  margin: -36px calc(((100% - 1140px) / 2) + 487px) 0 calc(((100% - 1140px) / 2) + 515px);
}

.u-section-1 .u-shape-10 {
  width: 142px;
  height: 144px;
  margin: 18px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-shape-11 {
  width: 142px;
  height: 143px;
  margin: -141px auto 0 calc(((100% - 1140px) / 2) + 248px);
}

.u-section-1 .u-shape-12 {
  width: 142px;
  height: 144px;
  margin: -146px auto 0 calc(((100% - 1140px) / 2) + 499px);
}

.u-section-1 .u-text-25 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  margin: 39px calc(((100% - 1140px) / 2) + 388px) 0 calc(((100% - 1140px) / 2) + -23px);
}

.u-section-1 .u-text-26 {
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  font-weight: normal;
  margin: 51px calc(((100% - 1140px) / 2) + 1002px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-27 {
  font-family: "Seaweed Script", serif;
  font-size: 1.875rem;
  margin: -36px calc(((100% - 1140px) / 2) + 755px) 0 calc(((100% - 1140px) / 2) + 247px);
}

.u-section-1 .u-icon-2 {
  height: 94px;
  width: 94px;
  margin: 16px auto 0 calc(((100% - 1140px) / 2) + -23px);
}

.u-section-1 .u-icon-3 {
  height: 94px;
  width: 94px;
  margin: -94px auto 0 calc(((100% - 1140px) / 2) + 221px);
}

.u-section-1 .u-text-28 {
  font-weight: 400;
  font-family: "Seaweed Script", serif;
  font-size: 2.25rem;
  margin: -2572px calc(((100% - 1140px) / 2) + 17px) 0 calc(((100% - 1140px) / 2) + 929px);
}

.u-section-1 .u-shape-13 {
  width: calc(((100% - 1140px) / 2) + 325px);
  height: 21px;
  margin: 2535px 0 0 auto;
}

.u-section-1 .u-shape-14 {
  width: calc(((100% - 1140px) / 2) + 325px);
  height: 21px;
  margin: 45px 0 0 auto;
}

.u-section-1 .u-shape-15 {
  width: calc(((100% - 1140px) / 2) + 325px);
  height: 21px;
  margin: -2779px 0 0 auto;
}

.u-section-1 .u-shape-16 {
  width: calc(((100% - 1140px) / 2) + 325px);
  height: 21px;
  margin: 45px 0 0 auto;
}

.u-section-1 .u-text-29 {
  font-family: "Seaweed Script", serif;
  margin: 1915px calc(((100% - 1140px) / 2) + -51px) 60px calc(((100% - 1140px) / 2) + 854px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 372px);
    margin-left: calc(((100% - 1140px) / 2) + 768px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 2108px;
    margin-right: calc(((100% - 1140px) / 2) + 302px);
    margin-left: calc(((100% - 940px) / 2) + 475px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -1373px;
    margin-right: calc(((100% - 1140px) / 2) + 636px);
    margin-left: calc(((100% - 1140px) / 2) + 504px);
  }

  .u-section-1 .u-text-3 {
    width: 89px;
    height: 36px;
    margin-top: 1169px;
    margin-right: calc(((100% - 1140px) / 2) + -23px);
    margin-left: calc(((100% - 1140px) / 2) + 1074px);
  }

  .u-section-1 .u-shape-1 {
    width: 405px;
    margin-top: -1382px;
    margin-right: calc(((100% - 1140px) / 2) + 342px);
  }

  .u-section-1 .u-text-4 {
    margin-top: -1432px;
    margin-right: calc(((100% - 1140px) / 2) + 222px);
    margin-left: calc(((100% - 1140px) / 2) + 918px);
  }

  .u-section-1 .u-text-5 {
    margin-top: 563px;
    margin-right: calc(((100% - 1140px) / 2) + 788px);
    margin-left: calc(((100% - 1140px) / 2) + 352px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 1140px) / 2) + 170px);
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 799px);
    margin-left: calc(((100% - 1140px) / 2) + 341px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 222px);
    margin-left: calc(((100% - 1140px) / 2) + 918px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 222px);
    margin-left: calc(((100% - 1140px) / 2) + 918px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + 66px);
    margin-left: calc(((100% - 1140px) / 2) + 1074px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 1140px) / 2) + 22px);
    margin-left: calc(((100% - 1140px) / 2) + 1118px);
  }

  .u-section-1 .u-line-1 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 1140px) / 2) + -107px);
    margin-left: calc(((100% - 1140px) / 2) + 1247px);
  }

  .u-section-1 .u-line-2 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 399px);
    margin-left: 711px;
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 1140px) / 2) + 619px);
    margin-left: calc(((100% - 1140px) / 2) + 521px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 362px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 403px);
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 1140px) / 2) + 631px);
    margin-left: calc(((100% - 1140px) / 2) + 509px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 1140px) / 2) + 320px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 1140px) / 2) + 403px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 1140px) / 2) + 411px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 1140px) / 2) + 650px);
    margin-left: calc(((100% - 1140px) / 2) + 490px);
  }

  .u-section-1 .u-image-7 {
    margin-left: calc(((100% - 1140px) / 2) + 362px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 1140px) / 2) + 403px);
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 1140px) / 2) + 763px);
    margin-left: calc(((100% - 1140px) / 2) + 377px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 1140px) / 2) + 170px);
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 1140px) / 2) + 688px);
    margin-left: calc(((100% - 1140px) / 2) + 377px);
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 1140px) / 2) + 170px);
    margin-left: auto;
  }

  .u-section-1 .u-text-17 {
    margin-right: calc(((100% - 1140px) / 2) + 365px);
    margin-left: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-1 .u-text-18 {
    margin-top: -358px;
    margin-right: calc(((100% - 1140px) / 2) + 753px);
    margin-left: calc(((100% - 1140px) / 2) + 387px);
  }

  .u-section-1 .u-shape-5 {
    height: 119px;
    margin-left: calc(((100% - 1140px) / 2) + 257px);
  }

  .u-section-1 .u-shape-6 {
    height: 120px;
    margin-left: calc(((100% - 1140px) / 2) + 477px);
  }

  .u-section-1 .u-shape-7 {
    height: 120px;
    margin-top: -120px;
  }

  .u-section-1 .u-shape-8 {
    margin-top: -244px;
    margin-left: calc(((100% - 1140px) / 2) + 183px);
  }

  .u-section-1 .u-shape-9 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 475px);
  }

  .u-section-1 .u-text-19 {
    margin-top: -157px;
    margin-right: calc(((100% - 1140px) / 2) + 940px);
    margin-left: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-1 .u-text-20 {
    margin-top: -41px;
    margin-right: calc(((100% - 1140px) / 2) + 553px);
    margin-left: calc(((100% - 1140px) / 2) + 587px);
  }

  .u-section-1 .u-text-21 {
    margin-top: 507px;
    margin-right: calc(((100% - 1140px) / 2) + 488px);
    margin-left: calc(((100% - 1140px) / 2) + 177px);
  }

  .u-section-1 .u-text-22 {
    height: 36px;
    margin-top: 66px;
    margin-right: calc(((100% - 1140px) / 2) + 940px);
    margin-left: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-1 .u-text-23 {
    height: 36px;
    margin-top: -354px;
    margin-right: calc(((100% - 1140px) / 2) + 775px);
    margin-left: calc(((100% - 1140px) / 2) + 365px);
  }

  .u-section-1 .u-text-24 {
    height: 36px;
    margin-right: calc(((100% - 1140px) / 2) + 525px);
    margin-left: calc(((100% - 1140px) / 2) + 615px);
  }

  .u-section-1 .u-shape-10 {
    margin-top: -342px;
    margin-left: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-1 .u-shape-11 {
    margin-left: calc(((100% - 1140px) / 2) + 448px);
  }

  .u-section-1 .u-shape-12 {
    height: 145px;
    margin-top: -120px;
    margin-right: calc(((100% - 1140px) / 2) + 399px);
    margin-left: auto;
  }

  .u-section-1 .u-text-25 {
    margin-right: calc(((100% - 1140px) / 2) + 488px);
    margin-left: calc(((100% - 1140px) / 2) + 177px);
  }

  .u-section-1 .u-text-26 {
    margin-right: calc(((100% - 1140px) / 2) + 940px);
    margin-left: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-1 .u-text-27 {
    margin-top: -86px;
    margin-right: calc(((100% - 1140px) / 2) + 793px);
    margin-left: calc(((100% - 1140px) / 2) + 347px);
  }

  .u-section-1 .u-icon-2 {
    margin-top: -40px;
    margin-left: calc(((100% - 1140px) / 2) + 177px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 1140px) / 2) + 421px);
  }

  .u-section-1 .u-text-28 {
    margin-top: -2660px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 746px);
  }

  .u-section-1 .u-shape-13 {
    width: calc(((100% - 940px) / 2) + 325px);
  }

  .u-section-1 .u-shape-14 {
    width: calc(((100% - 940px) / 2) + 325px);
  }

  .u-section-1 .u-shape-15 {
    width: calc(((100% - 940px) / 2) + 325px);
  }

  .u-section-1 .u-shape-16 {
    width: calc(((100% - 940px) / 2) + 325px);
  }

  .u-section-1 .u-text-29 {
    margin-right: calc(((100% - 940px) / 2) + -51px);
    margin-left: calc(((100% - 940px) / 2) + 754px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 18px);
    margin-left: calc(((100% - 1140px) / 2) + 1122px);
  }

  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 1140px) / 2) + 402px);
    margin-left: calc(((100% - 720px) / 2) + 475px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 220px);
    margin-left: calc(((100% - 1140px) / 2) + 920px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + -305px);
    margin-left: calc(((100% - 1140px) / 2) + 1356px);
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 1140px) / 2) + 315px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 112px);
    margin-left: calc(((100% - 1140px) / 2) + 1028px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 337px);
    margin-left: calc(((100% - 1140px) / 2) + 803px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 1140px) / 2) + 91px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 359px);
    margin-left: calc(((100% - 1140px) / 2) + 781px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 112px);
    margin-left: calc(((100% - 1140px) / 2) + 1028px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 112px);
    margin-left: calc(((100% - 1140px) / 2) + 1028px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + -216px);
    margin-left: calc(((100% - 1140px) / 2) + 1356px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 1140px) / 2) + -308px);
    margin-left: calc(((100% - 1140px) / 2) + 1448px);
  }

  .u-section-1 .u-line-1 {
    margin-right: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 1140px) / 2) + -360px);
    margin-left: calc(((100% - 1140px) / 2) + 1500px);
  }

  .u-section-1 .u-line-2 {
    margin-right: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 419px);
    margin-left: 491px;
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 1140px) / 2) + 289px);
    margin-left: calc(((100% - 1140px) / 2) + 851px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 382px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 331px);
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 840px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 1140px) / 2) + 340px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 1140px) / 2) + 331px);
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 840px);
  }

  .u-section-1 .u-image-7 {
    margin-left: calc(((100% - 1140px) / 2) + 382px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 1140px) / 2) + 361px);
    margin-left: auto;
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 1140px) / 2) + 323px);
    margin-left: calc(((100% - 1140px) / 2) + 817px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 1140px) / 2) + 91px);
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 1140px) / 2) + 323px);
    margin-left: calc(((100% - 1140px) / 2) + 817px);
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 1140px) / 2) + 91px);
  }

  .u-section-1 .u-text-17 {
    margin-left: calc(((100% - 1140px) / 2) + 420px);
    margin-right: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 1140px) / 2) + 643px);
    margin-left: calc(((100% - 1140px) / 2) + 497px);
  }

  .u-section-1 .u-shape-5 {
    margin-left: calc(((100% - 1140px) / 2) + 477px);
  }

  .u-section-1 .u-shape-6 {
    margin-right: calc(((100% - 1140px) / 2) + 326px);
    margin-left: auto;
  }

  .u-section-1 .u-shape-8 {
    margin-left: calc(((100% - 1140px) / 2) + 403px);
  }

  .u-section-1 .u-shape-9 {
    margin-right: calc(((100% - 1140px) / 2) + 422px);
    margin-left: auto;
  }

  .u-section-1 .u-text-19 {
    margin-right: calc(((100% - 1140px) / 2) + 720px);
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-1 .u-text-20 {
    margin-right: calc(((100% - 1140px) / 2) + 443px);
    margin-left: calc(((100% - 1140px) / 2) + 697px);
  }

  .u-section-1 .u-text-21 {
    margin-right: calc(((100% - 1140px) / 2) + 598px);
    margin-left: calc(((100% - 1140px) / 2) + 397px);
  }

  .u-section-1 .u-text-22 {
    margin-right: calc(((100% - 1140px) / 2) + 720px);
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 1140px) / 2) + 665px);
    margin-left: calc(((100% - 1140px) / 2) + 475px);
  }

  .u-section-1 .u-text-24 {
    margin-right: calc(((100% - 1140px) / 2) + 415px);
    margin-left: calc(((100% - 1140px) / 2) + 725px);
  }

  .u-section-1 .u-shape-10 {
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-1 .u-shape-11 {
    margin-right: calc(((100% - 1140px) / 2) + 330px);
    margin-left: auto;
  }

  .u-section-1 .u-shape-12 {
    margin-right: calc(((100% - 1140px) / 2) + 289px);
  }

  .u-section-1 .u-text-25 {
    margin-right: calc(((100% - 1140px) / 2) + 598px);
    margin-left: calc(((100% - 1140px) / 2) + 397px);
  }

  .u-section-1 .u-text-26 {
    margin-right: calc(((100% - 1140px) / 2) + 720px);
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-1 .u-text-27 {
    margin-top: -286px;
    margin-right: calc(((100% - 1140px) / 2) + 683px);
    margin-left: calc(((100% - 1140px) / 2) + 457px);
  }

  .u-section-1 .u-icon-2 {
    margin-top: 16px;
    margin-left: calc(((100% - 1140px) / 2) + 397px);
  }

  .u-section-1 .u-icon-3 {
    margin-right: calc(((100% - 1140px) / 2) + 405px);
    margin-left: auto;
  }

  .u-section-1 .u-text-28 {
    margin-top: -2666px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 526px);
  }

  .u-section-1 .u-shape-13 {
    width: calc(((100% - 720px) / 2) + 325px);
  }

  .u-section-1 .u-shape-14 {
    width: calc(((100% - 720px) / 2) + 325px);
  }

  .u-section-1 .u-shape-15 {
    width: calc(((100% - 720px) / 2) + 325px);
  }

  .u-section-1 .u-shape-16 {
    width: calc(((100% - 720px) / 2) + 325px);
  }

  .u-section-1 .u-text-29 {
    margin-right: calc(((100% - 720px) / 2) + -51px);
    margin-left: calc(((100% - 720px) / 2) + 644px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + -272px);
    margin-left: calc(((100% - 1140px) / 2) + 1412px);
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + 459px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + -120px);
    margin-left: calc(((100% - 1140px) / 2) + 1260px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + -536px);
    margin-left: calc(((100% - 1140px) / 2) + 1587px);
  }

  .u-section-1 .u-shape-1 {
    margin-right: 0;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 89px);
    margin-left: calc(((100% - 1140px) / 2) + 1051px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + -32px);
    margin-left: calc(((100% - 1140px) / 2) + 1172px);
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + -1px);
    margin-left: calc(((100% - 1140px) / 2) + 1141px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 89px);
    margin-left: calc(((100% - 1140px) / 2) + 1051px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 89px);
    margin-left: calc(((100% - 1140px) / 2) + 1051px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + -447px);
    margin-left: calc(((100% - 1140px) / 2) + 1587px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 1140px) / 2) + -511px);
    margin-left: calc(((100% - 1140px) / 2) + 1651px);
  }

  .u-section-1 .u-line-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 312px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 1140px) / 2) + -540px);
    margin-left: calc(((100% - 1140px) / 2) + 1680px);
  }

  .u-section-1 .u-line-2 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 312px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 312px);
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 1140px) / 2) + -60px);
    margin-left: calc(((100% - 1140px) / 2) + 1200px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 354px);
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 1140px) / 2) + 354px);
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 1140px) / 2) + -60px);
    margin-left: calc(((100% - 1140px) / 2) + 1200px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 354px);
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 1140px) / 2) + 354px);
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 1140px) / 2) + -60px);
    margin-left: calc(((100% - 1140px) / 2) + 1200px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 1140px) / 2) + 354px);
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 1140px) / 2) + 354px);
    margin-left: auto;
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 1140px) / 2) + -37px);
    margin-left: calc(((100% - 1140px) / 2) + 1177px);
  }

  .u-section-1 .u-shape-3 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 1140px) / 2) + -60px);
    margin-left: calc(((100% - 1140px) / 2) + 1200px);
  }

  .u-section-1 .u-shape-4 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-text-17 {
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-1 .u-shape-5 {
    margin-right: calc(((100% - 1140px) / 2) + 364px);
    margin-left: auto;
  }

  .u-section-1 .u-shape-6 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-shape-7 {
    margin-right: calc(((100% - 1140px) / 2) + 423px);
    margin-left: auto;
  }

  .u-section-1 .u-shape-8 {
    margin-right: calc(((100% - 1140px) / 2) + 512px);
    margin-left: auto;
  }

  .u-section-1 .u-text-19 {
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-1 .u-text-20 {
    margin-right: calc(((100% - 1140px) / 2) + 353px);
    margin-left: calc(((100% - 1140px) / 2) + 787px);
  }

  .u-section-1 .u-text-21 {
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-1 .u-text-22 {
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-1 .u-text-24 {
    margin-right: calc(((100% - 1140px) / 2) + 325px);
    margin-left: calc(((100% - 1140px) / 2) + 815px);
  }

  .u-section-1 .u-shape-10 {
    margin-right: calc(((100% - 1140px) / 2) + 398px);
    margin-left: auto;
  }

  .u-section-1 .u-shape-11 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-shape-12 {
    margin-right: calc(((100% - 1140px) / 2) + 199px);
  }

  .u-section-1 .u-text-25 {
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-1 .u-text-26 {
    margin-right: calc(((100% - 1140px) / 2) + 563px);
    margin-left: calc(((100% - 1140px) / 2) + 577px);
  }

  .u-section-1 .u-text-27 {
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 1140px) / 2) + 469px);
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-right: calc(((100% - 1140px) / 2) + 225px);
  }

  .u-section-1 .u-text-28 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 346px);
  }

  .u-section-1 .u-shape-13 {
    width: calc(((100% - 540px) / 2) + 325px);
  }

  .u-section-1 .u-shape-14 {
    width: calc(((100% - 540px) / 2) + 325px);
  }

  .u-section-1 .u-shape-15 {
    width: calc(((100% - 540px) / 2) + 325px);
  }

  .u-section-1 .u-shape-16 {
    width: calc(((100% - 540px) / 2) + 325px);
  }

  .u-section-1 .u-text-29 {
    margin-right: calc(((100% - 540px) / 2) + -51px);
    margin-left: calc(((100% - 540px) / 2) + 554px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 1140px) / 2) + -593px);
    margin-left: calc(((100% - 1140px) / 2) + 1733px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 1426px;
    margin-right: calc(((100% - 1140px) / 2) + 259px);
    margin-left: calc(((100% - 340px) / 2) + 259px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -795px;
    margin-right: calc(((100% - 1140px) / 2) + -498px);
    margin-left: calc(((100% - 1140px) / 2) + 1638px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 719px;
    margin-right: calc(((100% - 1140px) / 2) + -793px);
    margin-left: calc(((100% - 1140px) / 2) + 1844px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: -796px;
    margin-right: calc(((100% - 1140px) / 2) + 335px);
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -2018px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 1021px;
    margin-right: calc(((100% - 1140px) / 2) + -442px);
    margin-left: calc(((100% - 1140px) / 2) + 1582px);
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 1140px) / 2) + -401px);
    margin-left: calc(((100% - 1140px) / 2) + 1541px);
  }

  .u-section-1 .u-text-7 {
    margin-top: -245px;
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + -704px);
    margin-left: calc(((100% - 1140px) / 2) + 1844px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 1140px) / 2) + -711px);
    margin-left: calc(((100% - 1140px) / 2) + 1851px);
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 1140px) / 2) + -740px);
    margin-left: calc(((100% - 1140px) / 2) + 1880px);
  }

  .u-section-1 .u-line-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 112px);
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 1140px) / 2) + -460px);
    margin-left: calc(((100% - 1140px) / 2) + 1600px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 154px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-3 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 1140px) / 2) + -460px);
    margin-left: calc(((100% - 1140px) / 2) + 1600px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 154px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-6 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 1140px) / 2) + -460px);
    margin-left: calc(((100% - 1140px) / 2) + 1600px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 1140px) / 2) + 154px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-9 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 1140px) / 2) + -437px);
    margin-left: calc(((100% - 1140px) / 2) + 1577px);
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 1140px) / 2) + -460px);
    margin-left: calc(((100% - 1140px) / 2) + 1600px);
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-1 .u-text-18 {
    margin-top: -350px;
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-1 .u-shape-5 {
    margin-top: 52px;
    margin-right: calc(((100% - 1140px) / 2) + 164px);
  }

  .u-section-1 .u-shape-6 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-shape-7 {
    margin-right: calc(((100% - 1140px) / 2) + 223px);
  }

  .u-section-1 .u-shape-8 {
    margin-right: calc(((100% - 1140px) / 2) + 312px);
  }

  .u-section-1 .u-shape-9 {
    margin-right: calc(((100% - 1140px) / 2) + 297px);
  }

  .u-section-1 .u-text-19 {
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-1 .u-text-20 {
    margin-top: -362px;
    margin-right: calc(((100% - 1140px) / 2) + 253px);
    margin-left: calc(((100% - 1140px) / 2) + 887px);
  }

  .u-section-1 .u-text-21 {
    font-size: 1.5rem;
    margin-top: 844px;
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-1 .u-text-22 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-1 .u-text-23 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-1 .u-text-24 {
    font-size: 1.5rem;
    margin-top: -365px;
    margin-right: calc(((100% - 1140px) / 2) + 225px);
    margin-left: calc(((100% - 1140px) / 2) + 915px);
  }

  .u-section-1 .u-shape-10 {
    margin-right: calc(((100% - 1140px) / 2) + 198px);
  }

  .u-section-1 .u-shape-11 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-shape-12 {
    margin-right: calc(((100% - 1140px) / 2) + 99px);
  }

  .u-section-1 .u-text-25 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-1 .u-text-26 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 1140px) / 2) + 363px);
    margin-left: calc(((100% - 1140px) / 2) + 777px);
  }

  .u-section-1 .u-text-27 {
    font-size: 1.5rem;
    margin-top: -222px;
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-1 .u-icon-2 {
    margin-top: 24px;
    margin-right: calc(((100% - 1140px) / 2) + 269px);
  }

  .u-section-1 .u-icon-3 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-28 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 146px);
  }

  .u-section-1 .u-shape-13 {
    width: calc(((100% - 340px) / 2) + 325px);
  }

  .u-section-1 .u-shape-14 {
    width: calc(((100% - 340px) / 2) + 325px);
  }

  .u-section-1 .u-shape-15 {
    width: calc(((100% - 340px) / 2) + 325px);
  }

  .u-section-1 .u-shape-16 {
    width: calc(((100% - 340px) / 2) + 325px);
  }

  .u-section-1 .u-text-29 {
    margin-right: calc(((100% - 340px) / 2) + -51px);
    margin-left: calc(((100% - 340px) / 2) + 454px);
  }
}