.u-section-1 .u-sheet-1 {
  min-height: 1229px;
}

.u-section-1 .u-shape-1 {
  width: 894px;
  background-image: none;
  height: 1038px;
  margin: 40px auto 0;
}

.u-section-1 .u-image-1 {
  width: 348px;
  min-height: 585px;
  background-image: url("../../images/u_150.png");
  background-position: 50% 50%;
  margin: -585px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-1 .u-gallery-1 {
  width: 595px;
  height: 844px;
  grid-gap: 10px 10px;
  margin: -921px auto 0 48px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 16px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-group-2 {
  width: 497px;
  min-height: 337px;
  margin: -844px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 30px;
}

.u-section-1 .u-text-1, .u-section-2 .u-text-1 {
  font-family: "Seaweed Script", serif;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 284px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 500;
  font-size: 1.075rem;
  letter-spacing: 2px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 35px auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 605px;
  min-height: 287px;
  background-image: none;
  margin: 117px 0 60px auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "Seaweed Script", serif;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 737px;
  }

  .u-section-1 .u-image-1 {
    width: 287px;
    min-height: 549px;
    margin-top: -660px;
  }

  .u-section-1 .u-gallery-1 {
    width: 555px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 379px;
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1, .u-section-2 .u-text-1 {
    font-weight: normal;
  }

  .u-section-1 .u-group-3 {
    margin-top: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2117px;
  }

  .u-section-1 .u-shape-1 {
    width: 494px;
    height: 2017px;
    margin-top: 50px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    min-height: 459px;
    margin-top: -1929px;
  }

  .u-section-1 .u-gallery-1 {
    height: 3376px;
    width: 688px;
    margin-top: 407px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    width: 683px;
    min-height: 315px;
    margin-top: -1346px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 175px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 32px;
  }

  .u-section-1 .u-group-3 {
    width: 683px;
    margin-top: -722px;
    margin-bottom: 27px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4093px;
  }

  .u-section-1 .u-shape-1 {
    height: 1874px;
  }

  .u-section-1 .u-image-1 {
    min-height: 384px;
    margin-top: -1818px;
  }

  .u-section-1 .u-gallery-1 {
    height: 3064px;
    margin-top: 367px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-top: -3522px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 110px;
  }

  .u-section-1 .u-group-3 {
    min-height: 286px;
    width: 436px;
    margin-top: -682px;
    margin-right: 32px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3276px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1929px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: -2342px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 127px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }
}

body{margin-top:20px;}
.filtering {
  margin-bottom: 40px;
}
.filtering span {
  border-bottom: 2px solid transparent;
  color: #282b2d;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 5px;
}
.filtering span:last-child {
  margin: 0;
}
.filtering .active {
  border-color: #ccde02;
  color: #ccde02;
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 500ms ease;
}
.portfolio-wrapper .portfolio-image img {
  will-change: transform;
  transition: all 0.5s ease;
  width: 100%;
  height: 176.66px;
}
.portfolio-wrapper:hover .portfolio-image img {
  transform: scale(1.2);
}

.form-row.gallery.d-flex.justify-content-center .col-sm-3.col-lg-2.mb-2 {
  min-height: 176.66px;
  height: 176.66px;
}

.portfolio-overlay:before {
  position: absolute;
  display: inline-block;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  content: "";
  opacity: 0;
  transition: all 0.5s ease;
  transform: scale(0.85);
}
.portfolio-overlay .portfolio-content {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  padding: 0 35px;
}
.portfolio-content h4 {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.portfolio-content p {
  color: #000;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.portfolio-content > a {
  line-height: 42px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #000;
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 800;
}
.portfolio-wrapper:hover .portfolio-overlay {
  background-color: rgba(204, 222, 2, 0.85);
}
.portfolio-wrapper:hover .portfolio-overlay:before {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.portfolio-wrapper:hover .portfolio-overlay .portfolio-content {
  transform: translateY(50%);
  transition: transform 0.5s ease;
  opacity: 1;
}
@media screen and (max-width: 1199px) {
  .portfolio-content h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .portfolio-content h4 {
    margin-bottom: 10px;
  }
  .portfolio-content p {
    font-size: 15px;
  }
  .portfolio-content > a {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-content h4 {
    font-size: 17px;
  }
  .portfolio-content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
  .portfolio-content h4 {
    font-size: 16px;
  }
}
.grid .grid-item {
  position: relative;
  overflow: hidden;
}
.grid .grid-item .portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.grid .grid-item .portfolio-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 500ms ease;
}
.grid .grid-item .portfolio-wrapper .portfolio-image img {
  transform: none;
  will-change: transform;
  transition: none;
  width: 100%;
}
.grid .grid-item .portfolio-wrapper:hover .portfolio-image img {
  transform: none;
}
.grid .grid-item .portfolio-overlay:before {
  position: absolute;
  display: inline-block;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  content: "";
  opacity: 0;
  transition: all 0.5s ease;
  transform: scale(0.85);
}
.grid .grid-item .portfolio-overlay .portfolio-content {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
}
.grid .grid-item .portfolio-content h4 {
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 10px;
}
.grid .grid-item .portfolio-content p {
  color: #000;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.grid .grid-item .portfolio-content a {
  line-height: 36px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #000;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 800;
}
.grid .grid-item .portfolio-wrapper:hover .portfolio-overlay {
  background-color: rgba(204, 222, 2, 0.85);
}
.grid .grid-item .portfolio-wrapper:hover .portfolio-overlay:before {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.grid .grid-item .portfolio-wrapper:hover .portfolio-overlay .portfolio-content {
  transform: translateY(50%);
  transition: transform 0.5s ease;
  opacity: 1;
}
@media screen and (max-width: 1199px) {
  .grid .grid-item .portfolio-content h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .grid .grid-item .portfolio-content h4 {
    margin-bottom: 10px;
  }
  .grid .grid-item .portfolio-content p {
    font-size: 15px;
  }
  .grid .grid-item .portfolio-content a {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .grid .grid-item .portfolio-content h4 {
    font-size: 17px;
  }
  .grid .grid-item .portfolio-content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
  .grid .grid-item .portfolio-content h4 {
    font-size: 16px;
  }
  .grid .grid-item .portfolio-overlay:before {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
  }
}